# Dependencies
/web/node_modules/
/web/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.DS_Store

# Go binaries
/services/api/main
/services/api/tmp/

# Postgres data
/postgres_data/
